<h1>Backend</h1>

<div class="form-group">
    <div>
        <strong>/auth/preggie/bind</strong>
    </div>
    <button class="btn btn-primary" type="button" id="getAuthToken">
        getAuthToken()
    </button>

    <div id="getAuthTokenLog"></div>
</div>

<div class="form-group">
    <div>
        <strong>/extension/internal/$extension_id/user</strong>
    </div>
    <button class="btn btn-primary" type="button" id="getUser">
        getUser()
    </button>

    <div id="getUserLog"></div>
</div>